.navigation-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0px 0px;
  padding: 0px;

  border-left-width: 2px;
  border-left-style: solid;
  border-image: linear-gradient(var(--accent) 0%, var(--foreground)) 0% 100%;
}

.navigation-menu__inner {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-menu__inner > li {
  flex: 0 0 auto;
  white-space: nowrap;

  margin: 0px;

  background-image:
    linear-gradient(90deg, var(--background) 10%, #0000 16% 84%, var(--background) 90%),
    linear-gradient(#0000 10%, var(--background) 16% 84%, #0000 90%),
    repeating-linear-gradient(24deg, #000 0 4px, var(--accent) 4px 6px);
}

.navigation-menu__inner > li > a {
  margin: 0;
  padding: 8px;
  width: 100%;
  height: 100%;
  display: block;
}

.navigation-menu__inner > li:hover {
  background-image:
    linear-gradient(90deg, var(--background) 0%,#0000 8% 92%, var(--background) 100%),
    linear-gradient(#0000 10%, var(--background) 16% 84%, #0000 90%),
    repeating-linear-gradient(24deg, #000 0 4px, var(--accent) 4px 8px);
}

.navigation-menu__inner > li:not(:last-of-type) {
  margin-right: 4px;
}

.navigation-menu .spacer {
  flex-grow: 1 !important;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__trigger {
  margin-right: 0 !important;
  color: var(--foreground);
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.menu__dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  background: var(--background);
  box-shadow: 0 0 5px var(--foreground);
  color: var(--foreground);
  border: 2px solid var(--foreground);
  /* margin: 0 0px 0 -42px; */
  width:max-content;
  padding: 10px;
  top: 10px;
  left: 0;
  list-style: none;
  z-index: 99;
}

.open .menu__dropdown {
  display: flex;
}

.menu__dropdown > li {
  flex: 0 0 auto;
}

.menu__dropdown > li:hover {
  box-shadow: 0 0 5px var(--accent), 0 0 4px var(--accent) inset;
}

.menu__dropdown > li:not(:last-of-type) {
  margin-bottom: 10px;
}

.menu__dropdown > li a {
  display: flex;
  padding: 5px;
}

.menu--mobile .menu__trigger {
  color: var(--foreground);
  border: 2px solid;
  margin-left: 10px;
  height: 100%;
  padding: 3px 8px;
  margin-bottom: 0 !important;
  position: relative;
  cursor: pointer;
  display: none;
}

.menu--mobile li {
  flex: 0 0 auto;
}

.menu--mobile li:not(:last-of-type) {
  margin-bottom: 10px;
}

.menu--language-selector .menu__trigger {
  color: var(--foreground);
  border: 2px solid;
  border-right: 0;
  margin-left: 5px;
  height: 100%;
  padding: 3px 8px;
  margin-bottom: 0 !important;
  position: relative;
  cursor: pointer;
}

.menu--language-selector .menu__dropdown {
  left: auto;
  right: 0;
}

@media (max-width: 684px) {
  .navigation-menu {
    margin: 0;
  }

  .navigation-menu__inner {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .navigation-menu__inner li {
    margin: 0;
    padding: 5px;
  }

  .menu--desktop {
    display: none;
  }

  .menu--mobile .menu__trigger {
    display: block;
  }

  .menu--mobile .menu__dropdown {
    left: auto;
    right: 0;
  }

  .menu--language-selector .menu__trigger {
    display: none;
  }
}

